
html, body{
    text-align: left;
}

#sidebar {
    height: 100vh;
    width: 48px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: var(--darkBlack);
    overflow-x: hidden;
    padding-top: 20px;
    white-space: nowrap;
    transition: 0.5s;
}

.clicky {
    font-family: "Verdana", sans-serif;
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 23px;
    color: var(--marigold);
    display: block;
    text-align: left;

}

.clicky:hover {
    cursor: pointer;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
    background-color: var(--marigold);
    color: rgb(39, 40, 34);
}

#credits {
    font-size: 0.9em;
    position: absolute;
    padding: 0.9em;
    margin-bottom: 1em;
    bottom: 0;
}

#main {
    height: 100%;
    margin-left: 80px;
    margin-top: 30px;
    padding: 0px 10px;
    padding-left: 5px;
}

#header {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#title {
    display: inline-block;
    border-left: solid var(--marigold) 0.5em;
    background-color: var(--darkGray);
    border-radius: 5px;
    padding: 0.4em;
}

#flexbox {
    display: flex;
    margin-top: 2em;
    height: 80vh;
}

#leftcontent {
    width: 45%;
}

#titleDescription {
    color: black;
    background-color: var(--marigold);
    width: 15%;
    height: 5vh;
    line-height: 5vh;
    position: absolute;
    left: 10vh;
    z-index: 5;
    padding: 0.7em 1.4em;
    border-radius: 5px;
}

#description {
    width: 85%;
    height: 15vh;
    padding: 0.7em 1.4em;
    padding-top: 1.8em;
    margin-top: 5vh;
    overflow-y: auto;
    overflow-wrap: break-word;
    background-color: var(--darkGray);
    border-radius: 5px;
}

#tests {
    margin-top: 5vh;
    background-color: var(--darkGray);
    padding: 0.7em 1.4em;
    border-radius: 5px;
    height: 33vh;
    width: 85%;
}

#rightcontent {
    padding: 0 1em;
    flex-grow: 1;
    margin-left: 1em;
}

h1 {
    display: inline-block;
    margin: 0.2em;
}

h3 {
    display: inline-block;
    color: gray;
}

.ace_editor {
    overflow: visible;
    font-family: monospace;
}



p {
    font-size: 0.9em;
}

.submitbtn {
    position: absolute;
    right: 8vh;
    font-size: 1em;
    background-color: var(--darkGray);
    color: var(--marigold);
    padding: 1em 1em;
    border-radius: 5px;
    border: none;

}

.submitbtn:hover {
    cursor: pointer;
}

h2 {
    margin: 0;
    font-size: 20px;
}
input[type=text]{
    margin-right: 1em;

}


#buggyEditor{
    background-color: var(--darkGray);
    z-index: 0;
    margin: auto;
    margin-top: 5vh;
    border: 0.2em transparent solid;
    border-radius: 5px;
    height: 55vh;
    width: 90%;
    font-family: monospace !important;
    font-size: 16px !important;
    direction: ltr !important;
    text-align: left !important;
}
