{% extends "root.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/root.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/addProb.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/addProb2.css') }}">
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
{% endblock %}
{% block script %}
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script defer type="text/javascript" src="{{url_for('static', filename = 'js/addProb.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static', filename = 'js/select.js') }}"></script>
{% endblock %}

{% block body %}

<div id="box" class="animate fadeInDown one">
    <h2>ADD PROBLEM</h3>
        <form id = "myform" method="POST" action="{{ url_for('wally.addProb')}}">
            {{form.csrf_token}}
            <div id="stepflexbox">

                <div id="step1" class="stepflex">
                    {{form.author(placeholder="your name (optional)", style="width:40%;")}}
                    <div id="toolbar"></div>
                    <div id="editor"></div>
                    {{form.desc()}}

                </div>

                <div id="step2" style="display:none;">
                    <div style="column-count: 2;margin-top: 7vh;text-align: left;">
                        {% for tag in form.tags %}
                        <div class="form-check">
                            {{ tag(class="form-check-input") }}
                            {{ tag.label(class="form-check-label") }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="steps3to5" class="stepflex" style="display: none;">
                    {{form.code()}}


                    <div class="flexchild">
                        <div id="jsEditor" style="flex-basis: 100%;">def func(input):
#please replace func with your function name
#and input with a placeholder name
#delete this comment afterwards

                        </div>
                        <script type="text/javascript">
                            $(function () {
                                var editor = ace.edit("jsEditor");
                                editor.setTheme("ace/theme/monokai");
                                editor.session.setMode("ace/mode/python");
                                editor.setReadOnly(false);
                                editor.getSession().on("change", function () {
                                    $('#code').val(editor.getValue());
                                });
                            });
                        </script>

                    </div>
                    <div class="flexchild" id="step3" style="display:none">
                        {{form.testCaseInputs}}
                        {{form.testCaseOutputs}}
                        <div style="overflow-y: auto; height: 47vh;">
                            <p style="display:inline-block;">Please write at least three test cases. Try to choose
                                test cases that will clarify your problem.</p>

                            <table id ="tableTestCases">
                                <tr>
                                    <th>input</th>
                                    <th>output</th>
                                    <th>test</th>
                                </tr>
                                <tr class = "tableTestCases ">
                                    <td class="inputText ">
                                        <textarea style="margin-right: 0; resize: vertical;"></textarea>
                                    </td>
                                    <td class="outputText ">
                                        <textarea style="margin-right: 0;resize: vertical;"></textarea>
                                    </td>
                                    <td class="testText ">
                                        <div class="plus plusCase" id="plus">

                                    </td>

                                </tr>
                            </table>
                        </div>
                        <p id="error"></p>

                    </div>

                    <div class="flexchild" id="step4" style="display:none">
                        {{form.testInputs()}}
                        <div style="overflow-y: auto; height: 40vh;">
                            <p style="display:inline-block;">
                                Optional step: provide test inputs that people will use in order to predict the
                                output of your function.
                            </p>

                            <table id="tableTestInputs">
                                <tr>
                                    <th>input</th>
                                    <th>test</th>
                                </tr>
                                <tr class = "tableTestInput">
                                    <td class="inputText">
                                        <textarea style="margin-right: 0; resize: vertical;"></textarea>
                                    </td>

                                    <td class="testText">
                                        <div class="plus plusInput" id="plus">

                                    </td>

                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="flexchild" id="step5" style="display:none">
                        {{form.testOutputs()}}

                        <div style="overflow-y: auto; height: 40vh;">
                            <p style="display:inline-block;">
                                Optional step: provide test outputs that people will use in order to predict
                                possible inputs of your function.
                            </p>
                            <table id ="tableTestOutputs">
                                <tr>
                                    <th>output</th>
                                    <th>test</th>
                                </tr>
                                <tr class="tableTestOutput">
                                    <td class="outputText ">
                                        <textarea style="margin-right: 0;resize: vertical;"></textarea>
                                    </td>
                                    <td class="testText ">
                                        <div class="plus plusOutput" id="plus">

                                    </td>

                                </tr>
                            </table>
                        </div>

                    </div>
                </div>

                <div id="step6" class="stepflex" style="display: none;">
                    {{form.buggyCode()}}
                    <div id="buggyEditor" style="flex-basis: 100%;">def func(input):
#this is an optional step
#write a "buggy" version of your code here 
#and invite people to write test inputs which will invoke these bugs 

                    </div>
                    <script type="text/javascript">
                        $(function () {
                            var bugEditor = ace.edit("buggyEditor");
                            bugEditor.setTheme("ace/theme/monokai");
                            bugEditor.session.setMode("ace/mode/python");
                            bugEditor.getSession().on("change", function () {
                                $('#buggyCode').val(bugEditor.getValue());
                            });
                        });
                    </script>
                </div>
                <div id="step7" class="stepflex" style="display: none;">
                    <input class = "submitbtn" type="submit" value="submit" style="margin-top: 6vh;">
                </div>
            </div>


</div>
<span id="paginator">
    <a href="#" class="previous round">&#8249;</a>
    <p id="pgnum" style="display:inline-block;margin-left: 0.5em;margin-right: 0.5em;">1/7</p>
    <a href="#" class="next round">&#8250;</a>
</span>
</form>
</div>

{% endblock %}