<!DOCTYPE html>
<html lang="en">

<head>
    <title>Coding With Wally</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/select.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
            $(".select-items div").bind('click', function() {
                document.getElementById("hiddenSelect").value = $(this)[0].innerHTML;
                $('input#hiddenSelect').val($(this)[0].innerHTML);
                $("#selectForm").submit()
                
          });
        });
    </script>
</head>

<body>

    {% block head %}{% endblock %}

    <div id="sidebar" class = "noselect">
        <a href="#">home</a>
        <a href="#">random problem</a>
        <a href="#">help</a>
    </div>

    <div id="main">
        <div id="header" class = "noselect">
            <h1>CODING WITH WALLY</h1>
            <h3>sum13</h3>
            <form name="selectForm" id = "selectForm" action="{{ url_for('change_type') }}" method="post" style="display: inline-block;">
                <input type="hidden" id="hiddenSelect" name="hiddenSelect" value = "ma"/>
            </form>
                <div class="custom-select">
                    <select>
                        {% block options %}
                        {% endblock %}
                    </select>
                </div>
        </div>
        <div style="width:60%;">
            <p>
                Return the sum of the numbers in the array, returning 0 for an empty array. Except the number 13 is very
                unlucky, so it does not count and numbers that come immediately after a 13 also do not count.
                <br>
                <br>
                sum13([1, 2, 2, 1]) → 6
                <br>
                sum13([1, 1]) → 2
                <br>
                sum13([1, 2, 2, 1, 13]) → 6
            </p>
        </div>
        <div id="flexbox">
            <div class="flexchild" id="leftcontent">
                {% block content %}{% endblock %}
            </div>
            <div class="flexchild" id="rightcontent">
                <h2>results</h2>
                {% block answers %}{% endblock %}
            </div>
        </div>
    </div>

</body>

</html>