<!DOCTYPE html>
<html lang="en">

<head>
    <title>Coding With Wally</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/select.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/misc.css') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script defer src="{{ url_for('static', filename = 'js/helper.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename = 'js/select.js') }}"></script>
    <script type=text/javascript>
        $(function() {
            $("#rand").bind("click", function() {
                $('input#hiddenSelect').val("rand");
                $("#selectForm").submit()
            })
            $(".select-items div").bind('click', function() {
                $('input#hiddenSelect').val($(this)[0].innerHTML);
                console.log($('input#hiddenSelect').val())
                $("#selectForm").submit()
            });
        });
    </script>
</head>

<body>

    {% block head %}{% endblock %}

    <div id="sidebar" class="noselect">
        <a href = "/" id="home">home</a>
        <a id="rand">random problem</a>
        <a>help</a>
    </div>

    <div id="main">

        <div id="header" class="noselect">
            <h1>CODING WITH WALLY</h1>
            <h3>{{function_name}}</h3>
            <form name="selectForm" id="selectForm" action="{{ url_for('change_type', problem_pg = function_name) }}" method="post"
                style="display: inline-block;">
                <input type="hidden" id="hiddenSelect" name="hiddenSelect" value="" />
            </form>
            <div class="custom-select">
                <select>
                    {% block options %}
                    {% endblock %}
                </select>
            </div>
        </div>

        <div style="width:60%;height:22vh;padding-right:1.5em;overflow-y: scroll;">
            <p>{{description}}</p>
        </div>

        <div id="flexbox">
            <div class="flexchild" id="leftcontent">
                {% block content %}{% endblock %}
            </div>
            <div class="flexchild" id="rightcontent">
                <h2>results</h2>
                {% block answers %}{% endblock %}
            </div>
        </div>
        
    </div>

</body>

</html>