<!DOCTYPE html>
<html lang="en">

<head>
    <title>coding with wally</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename = 'css/index.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/misc.css') }}">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/574052228206297090/852681325315096587/AAA.png">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body class="noselect">
    <div class="triangle">
        <div id="popup">
            <h2>ADD NEW CODING PROBLEM?</h2>
            <div class="btn hvr-grow">yes</div>
            <div class="btn hvr-grow">no</div>

        </div>
        <h1 class="animate fadeInDown one">CODING WITH WALLY</h1>
        <p class="animate fadeInDown one" style="width: 80%; margin: auto;">for all your coding needs!</p>
        <div id="tags" class="animate fadeInDown one">
            {% set htmltags = ['python', 'java', 'easy', 'medium', 'hard', 'strings', 'booleans', 'arrays', 'recursion', 'ints',
            'higher-order functions'] %}
            {% for tag in htmltags %}
            <div class="tag hvr-grow" style="background-color: rgb(220, 37, 106);">{{tag}}</div>
            {% endfor %}

        </div>
        <div id="flex" class="animate fadeInDown one">
            <div class="plus" id = "plus">
            </div>
            {% for key, value in problems.items() %}
            <a href="{{ url_for('wally.change_type', problem_pg = key)}}" class="flexchild">
                <h4>{{key}}</h4>
                <div id="tagsSmallFlex">
                    {% for tag in problems[key]['tags'] %}
                    <div data-value="{{tag}}" class="tagsSmall">{{tag}}</div>
                    {% endfor %}
                </div>
            </a>
            {% endfor %}
            <p id="nothing" style="display: none;">nothing was found except for the infinite expanse of the void.</p>
        </div>
        <form name="chooseForm" id="chooseForm" action="{{ url_for('wally.index') }}" method="post"
            style="display: inline-block;">
            <input type="hidden" id="hiddenChoose" name="hiddenChoose" value="" />
        </form>
    </div>

    <script type="text/javascript">
        $("#plus").click(function(){
            $('#popup').fadeIn("fast")
        })
        $(".btn").click(function(){
            if ($(this)[0].innerText == "yes"){
                window.location.href = "/addProb";
            }
            else{
                $('#popup').fadeOut("fast")
            }
        })

        var activeTags = []
        $(function () {

            var yellow = "rgb(255, 181, 49)"
            var pink = "rgb(220, 37, 106)"
            $(".tag").click(function () { // filtering system

                var val = $(this)[0].innerText //gets tag name
                var currentColor = $(this).css("background-color")
                var newColor = ""
                var currTag = $(this)[0].innerText
                if (currentColor == pink) {
                    newColor = yellow
                    activeTags.push(currTag)
                }
                else {
                    newColor = pink
                    activeTags.splice(activeTags.indexOf(currTag), 1)
                }

                $(this).css('background-color', newColor);

                if ($(".tag[style='background-color: rgb(255, 181, 49);']").length == 0) { //if no tags are selected, show all
                    $('.flexchild').show()
                }
                else {
                    $('.flexchild').hide()
                    $(".flexchild").each(function () {
                        tagBox = $(this).children()[1]
                        tags = []
                        $(tagBox).children().each(function () {
                            tags.push($(this)[0].innerText)
                        })
                        let checker = (arr, target) => target.every(v => arr.includes(v)); //checks to see if all the tags in activetags are in the current problem tags
                        if (checker(tags, activeTags)) {
                            $(this).show()
                        }
                    })
                }
                if ($(".flexchild:visible").length == 0) { //if no tag results match, then show this message that nothing matches
                    $('#nothing').show()
                }
                else {
                    $('#nothing').hide()
                }

            })
        })
    </script>
</body>

</html>