<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding with Wally</title>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/574052228206297090/852681325315096587/AAA.png">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/root.css') }}">

    {% css block %}
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {% script block %}
    {% end block}
</head>
<body>
    {% body block %} 
    {% end block}
</body>
</html>