<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/574052228206297090/852681325315096587/AAA.png">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <title>coding with wally</title>
</head>

<body>
    {% for prob in problems %}
    <form action="{{ url_for('wally.scriptingforall') }}" method="post">
        <span style="white-space: nowrap;"><input type="checkbox" name="problemos" value={{prob}}>
            <label for={{prob}}>{{prob}}</label><br></span>
        {% endfor %}
        <input type="submit" value = "submit" >
    </form>
</body>

</html>