{% extends "base.html" %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$(function() {
			  $('input#submitCode').bind('click', function() {
				$.getJSON('/background_process_writeCode', {
				  code: $("#codeBox").val(),
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
{% endblock %}

{% block options %}
    <option value = "writeCode" selected>write code</option>
    <option value = "testInputs">test inputs</option>
    <option value = "testOutputs">test outputs</option> 
{% endblock %}

{% block content %}
    <form>
        <textarea name = "codeBox" id = "codeBox" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">def sum13(nums):</textarea>
        <input id = "submitCode" type = "submit" value="submit" />
    </form>
{% endblock %}

{% block answers %}
    <p id = "result"></p>
{% endblock %}


