{% extends "probBase.html" %}

{% block head %}
<script type=text/javascript>
	$(function() {
	
		$('input#submitCode').bind('click', function() {
		$.getJSON('/background_process_writeCode', {
			code: ace.edit("jsEditor").getValue(),
			currentPath: window.location.pathname.slice(6),
		}, function(data) {
			if (typeof data.result == "string" && data.result.startsWith("Error")){
				$("#result").text(data.result)
				$( ".output" ).each(function (index){
					$(this).text("")
				})
			}
			else{
				yourAnswers = data.result
				if (data.isAllCorrect == true){
					$("tr").each(function(index){
						if (index != 0){
							$(this).css("background-color", "#45ac63")
						}
					})
				}
				else{
					$("tr").css("background-color", "transparent")
				}
				$( ".output" ).each(function (index){
					var x = yourAnswers[index]
					yourAnswers[index] = (x == true || x == false) ? String(x).charAt(0).toUpperCase() + String(x).slice(1): JSON.stringify(x)
					$(this).text(yourAnswers[index])
				})
				$("#result").text("")
			}

		});
		return false;
		});
	});
</script>
{% endblock %}

{% block options %}
<option value="selectOption">select option</option>
<option value="writeCode" selected>write code</option>
{% if testInputs|length %}
<option value="testInputs">test inputs</option>
{% endif %}
{% if testOutputs|length %}
<option value="testOutputs">test outputs</option>
{% endif %}
{% if buggyCode|length %}
<option value="testBugs" >test bugs</option>
{% endif %}


{% endblock %}

{% block content %}
<form>
	<div id="jsEditor" class="animate fadeInDown one">def {{func_call}}:
	</div>
	<script type="text/javascript">
		var editor = ace.edit("jsEditor");
		editor.setTheme("ace/theme/monokai");
		editor.session.setMode("ace/mode/python");
	</script>
	<input class=" submitbtn animate fade one" id="submitCode" type="submit" value="submit" style = "margin-top: 1.2em;"/>
</form>
{% endblock %}

{% block answers %}
<table>
	<tr>
		<th>test case</th>
		<th>output</th>
		<th>expected output</th>
	</tr>
	{%for i in range(testCaseInputs|length)%}
	<tr>
		<td>{{testCaseInputs[i]}}</td>
		<td class="output"></td>
		<td>{{testCaseOutputs[i]}}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
{% block results %}
<p id="result" style="color:white"></p>
{% endblock %}